@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito_Sans';
    src: url('../fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf');
    src: url('../fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}